.modal-overlay{

position:fixed;
inset:0;
background:rgba(0,0,0,0.6);

display:flex;
justify-content:center;
align-items:center;

z-index:2000;

}

.modal{

background:white;
width:90%;
max-width:700px;

max-height:90vh;
overflow:auto;

border-radius:20px;

padding:35px;

position:relative;

}
.close{

position:absolute;
right:5px;
top:5px;
display: flex;
justify-content: center;
align-items: center;
border:none;
background:white;
border-radius:50%;

font-size:25px;

cursor:pointer;

}
.close:hover{
  background:#e2e0e0;
    /* transform: translate(-5px); */
      transform: translate3d(-5px);


}
.modal-image{
/* height:300px; */
width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;


}
.instructions{

line-height:1;
white-space: pre-line;

}
.ingredients-list {
  list-style: none;
  padding: 0;
}

.ingredients-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}
.dark .ingredients-list li {
    color: rgb(243, 236, 236);
}

.dark .modal {
    background-color: #333;
    color: rgb(246, 245, 245);
}
.ingredients-list input {
  width: 18px;
  height: 18px;
}