.random-meal-button {
      background: #edf5e3;
    color: rgb(5, 0, 0);
   flex-shrink: 0;
    padding: 10px 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.random-meal-button:hover {
  transform: translateY(-5px);
}
.category-filter-container {
  width: 100%;
  background-color: #edf5e3;
  left: 0%;
  right: 0%;
  z-index: 1100;
  position: fixed;
  margin-top: 141px;
 display: flex;
    align-items: center;
    gap: 15px;
}
.dark .random-meal-button {
    background-color: #333;
    border-color: #555;
    color: rgb(246, 245, 245);
}

.dark .category-filter-container {
    background-color: #333;
    border-color: #555;
    color: rgb(246, 245, 245);
}