.random-meal-button {
      background: #edf5e3;
    color: rgb(5, 0, 0);
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.random-meal-button:hover {
  transform: translateY(-5px);
}
.category-filter-container {
  display: flex;
  justify-content: center;
    align-items: center;
    /* gap: 15px; */
}