.empty-state {
    margin-top: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.empty-icon {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.empty-state h2 {
  color: #555;
  font-size: 22px;
}